{% extends "base" %}

{% block body %}
	<div class="center">
		<h1>{{cargo_pkg_name}}</h1>
		<p></p>
		<div>
			<input type="text" id="login_name" required>
			<label for="login_name">Name</label>
		</div>
		<p></p>
		<p> {{cargo_pkg_name }} v{{ cargo_pkg_version }} is running at this server</p>
	</div>
{% endblock body %}
